//修改阿里巴巴图表库样式
.iconfont{
  margin-right: 5px;
  font-size: 20px !important;
}
.avue-icon-select__item{
  margin-bottom: 20px;
}
.avue-icon-select__list .iconfont{
  padding: 20px;
  font-size: 24px;
}
.avue-icon-select__list .iconfont:hover{
 transform: scale(1.4);
}